<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
        <div class="card text-center">
          <h1 class="display-3">Thank You!</h1>
          <p class="lead">Your order number {{orderId}} has been received successful. <br>Please wait for review & confimation</p>
          <hr>
  
  
          
            <div class="row">
              <div class="col-md-4">
    
              </div>
              <div class="col-md-4">
                <i class="fa fa-money-bill"></i> Amount Due: <strong>{{cartTotal | currency:'KES '}}</strong>
                <hr>
                <button class="btn btn-outline-danger btn-sm" (click)="goToProfile()"><i class="fa fa-check-square" aria-hidden="true"></i> Ok</button>
                <hr>
              </div>
              <div class="col-md-4">
                
              </div>
            
            </div>
        
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  