 <!-- SECTION -->
 <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- Product main img -->
        <div class="col-md-5 col-md-push-2">
          <div id="product-main-img">
            <ng-template>
              <div class="product-preview">
                <img src="{{img_url+'/'+product.image}}" alt="{{product.sub_menu}}">
              </div>
            </ng-template>
            <ng-template [ngIf]="thumbimages.length > 0">
              <div class="product-preview" *ngFor="let t of thumbimages;">
                <img src="{{img_url+'/'+product.image}}" alt="{{product.sub_menu}}">
              </div>
            </ng-template>
  
          </div>
        </div>
        <!-- /Product main img -->
  
        <!-- Product thumb imgs -->
        <div class="col-md-2  col-md-pull-5">
          <ng-template [ngIf]="thumbimages.length > 0">
            <div id="product-imgs">
              <div class="product-preview" *ngFor="let t of thumbimages;">
                <img src="{{img_url+'/'+t}}" alt="{{product.sub_menu}}">
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="thumbimages.length === 0">
            <div id="product-imgs">
              <div class="product-preview">
                <img src="{{img_url+'/'+product.image}}" alt="{{product.sub_menu}}">
              </div>
            </div>
          </ng-template>
  
  
          </div>
        <!-- /Product thumb imgs -->
  
        <!-- Product details -->
        <div class="col-md-5">
          <div class="product-details">
            <h2 class="product-name">{{product.sub_menu}}</h2>
            <div>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <a class="review-link" href="#">10 Review(s) | Add your review</a>
            </div>
            <div>
              <h3 class="product-price">{{product.price | currency:'KES '}} <del class="product-old-price">{{product.price | currency:'KES '}}</del></h3>
              <span class="product-available">In Stock</span>
            </div>
            <p>{{product.sub_menu}}</p>
            <small style="color: orange;">Seller: {{product.restaurant}}</small><br>
  
            <div class="add-to-cart">
              <div class="qty-label">
                Qty
                <div class="input-number" >
                  <input type="number" [max]="product?.availability >= 1 ? product.availability : 0"
                  readonly
                  #quantity
                  value="{{product?.availability >= 1 ? 1: 0}}"
                  >
                  <span class="qty-up" (click)="Increase()">+</span>
                  <span class="qty-down" (click)="Decrease()">-</span>
                </div>
              </div>
              <button class="add-to-cart-btn" (click)="addToCart(product?.id)"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
            </div>
  
            <ul class="product-btns">
              <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
              <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
            </ul>
  
            <ul class="product-links">
              <li>Category:</li>
              <li><a href="#">{{product.menu}}</a></li>
              <li><a href="#">{{product.sub_menu}}</a></li>
            </ul>
  
            <ul class="product-links">
              <li>Share:</li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
             <button class="btn btn-outline-danger form-control" mat-dialog-close><i class="fa fa-times-circle-o" aria-hidden="true"></i> Close</button>
          </div>
        </div>
        <!-- /Product details -->
  
  
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->